@model IEnumerable<TiendaVideojuegos.Models.PRODUCTOS>

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_PRODUCTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGEN_PRODUCTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION_PRODUCTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDAD_PRODCUTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCUENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESTACADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIAS.NOMBRE_CATEGORIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCAS.NOMBRE_MARCA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_PRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGEN_PRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_PRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD_PRODCUTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCUENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESTACADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIAS.NOMBRE_CATEGORIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARCAS.NOMBRE_MARCA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRODUCTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRODUCTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRODUCTO })
        </td>
    </tr>
}

</table>
