@model TiendaVideojuegos.Models.USUARIOS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container text-center form">
    <div class="row form-body">
        <div class="col">
            <h2>Desea borrar el siguiente usuario</h2>
        </div>
    </div>
    <div class="row  form-body">
        <div class="col-5 Formulario-admin-contenido">

            <DIV style="border-bottom: ridge; border-width: medium; ">

                <dt>
                    ID dirección
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ID_DIRECCION)
                </dd>
            </DIV>
            <br>
            <DIV style="border-bottom: ridge; border-width: medium; ">
                <dt>
                    Cedula
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CEDULA)
                </dd>
            </DIV>
            <br>
            <DIV style="border-bottom: ridge; border-width: medium; ">

                <dt>
                    Nombre de usuario
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOMBRE_USUARIO)
                </dd>
            </DIV>
            <br>
            <DIV style="border-bottom: ridge; border-width: medium; ">

                <dt>
                    Clave
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CLAVE)
                </dd>
            </DIV>
            <br>

            <DIV style="border-bottom: ridge; border-width: medium; ">

                <dt>
                    Nombre completo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOMBRE_COMPLETO)
                </dd>
            </DIV>
            <br>

            <DIV style="border-bottom: ridge; border-width: medium; ">

                <dt>
                    Correo electronico
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CORREO_ELECTRONICO)
                </dd>
            </DIV>
            <br>

            <DIV style="border-bottom: ridge; border-width: medium; ">

                <dt>
                    Telefono
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TELEFONO)
                </dd>
            </DIV>
            <br>

            <DIV style="border-bottom: ridge; border-width: medium; ">

                <dt>
                    Rol
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ROLES.ROL)
                </dd>

                </dl>
            </DIV>
            <br>
        </div>

        <div class="row form-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col">
                <button class="btn btn-info">
                    @Html.ActionLink("Retornar", "Index")
                </button> |
                <input type="submit" value="Borrar usuario" class="btn btn-danger" />
            </div>
            }
        </div>
    </div>
