@model TiendaVideojuegos.Models.USUARIOS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container text-center form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row form-body">
            <div class="col">
                <h2>Editar Informacion Usuario</h2>
            </div>
        </div>
        <div class="row  form-body">
            <div class="col">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_USUARIO)

                <div class="form-group">
                    <label>Rol</label>
                    <div class="col">
                        @Html.DropDownList("ID_ROL", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_ROL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        ID dirección
                    </label>
                    <div class="col">
                        @Html.EditorFor(model => model.ID_DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ID_DIRECCION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Cedula</label>
                    <div class="col">
                        @Html.EditorFor(model => model.CEDULA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CEDULA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Nombre de usuario
                    </label>
                    <div class="col">
                        @Html.EditorFor(model => model.NOMBRE_USUARIO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NOMBRE_USUARIO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Clave
                    </label>
                    <div class="col">
                        @Html.EditorFor(model => model.CLAVE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CLAVE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Nombre completo
                    </label>
                    <div class="col">
                        @Html.EditorFor(model => model.NOMBRE_COMPLETO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NOMBRE_COMPLETO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Correo electronico
                    </label>
                    <div class="col">
                        @Html.EditorFor(model => model.CORREO_ELECTRONICO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CORREO_ELECTRONICO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Telefono</label>
                    <div class="col">
                        @Html.EditorFor(model => model.TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TELEFONO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-body">
                    <div class="col">
                        <button class="btn btn-danger">@Html.ActionLink("Cancelar", "Index")</button>
                        |
                        <button class="btn btn-success">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
            }

        </div>
