@model TiendaVideojuegos.Models.USUARIOS
@{
    ViewBag.Title = "InicioSesion";
    Layout = "~/Views/Shared/formUsuario.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="Formulario-encabezado">
    <h2>Bienvenido de nuevo</h2>
    <br>
    <h4>Inicia sesion para relizar tus compras</h4>
</div>
    <br>
    <form class="Formulario-Contenido">

        @Html.TextBoxFor(model => model.CORREO_ELECTRONICO, new { @class = "form-control", placeholder = "Correo electronico" })
        @Html.ValidationMessageFor(model => model.CORREO_ELECTRONICO)

        @Html.PasswordFor(model => model.CLAVE, new { @class = "form-control", placeholder = "Contraseña" })
        @Html.ValidationMessageFor(model => model.CLAVE)

        <br>
        <br>

        <button type="submit" class="btn btn-primary rounded-0">Iniciar sesion</button>

        <br>

        <p><a>@Html.ActionLink("Crea una cuenta", "Registro", "Home")</a></p>
    </form>


}