@model TiendaVideojuegos.Models.PRODUCTOS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container text-center form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row form-body">
            <div class="col">
                <h2>Agregar Producto</h2>
            </div>
        </div>
        <div class="row  form-body">
            <div class="col">
                <label>Nombre</label>
                @Html.EditorFor(model => model.NOMBRE_PRODUCTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_PRODUCTO, "", new { @class = "text-danger" })

               

                <label>Cantidad</label>
                @Html.EditorFor(model => model.CANTIDAD_PRODCUTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CANTIDAD_PRODCUTO, "", new { @class = "text-danger" })

                <label>Descripcion</label>
                @Html.TextAreaFor(model => model.DESCRIPCION_PRODUCTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCRIPCION_PRODUCTO, "", new { @class = "text-danger" })

            </div>
            <div class="col">
                <label>Precio</label>
                @Html.EditorFor(model => model.PRECIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PRECIO, "", new { @class = "text-danger" })

                <label>Descuento</label>
                @Html.EditorFor(model => model.DESCUENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCUENTO, "", new { @class = "text-danger" })

               
                <label>Destacado</label>
                @Html.EditorFor(model => model.DESTACADO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESTACADO, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="row form-body">
            <div class="col">
                <button class="btn btn-success">Agregar</button>
            </div>
        </div>
    }
    <div class="row form-body">
        <div class="col">
            <button class="btn btn-danger">@Html.ActionLink("Cancelar", "Index")</button>
        </div>
    </div>
</div>




