@model TiendaVideojuegos.Models.PRODUCTOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container text-center form">
    <div class="row form-body">
        <div class="col">
            <h2>Detalles producto</h2>
        </div>
    </div>
    <div class="row  form-body">
        <div class="col Formulario-admin-contenido">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE_PRODUCTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE_PRODUCTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IMAGEN_PRODUCTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IMAGEN_PRODUCTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION_PRODUCTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION_PRODUCTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CANTIDAD_PRODCUTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CANTIDAD_PRODCUTO)
            </dd>

        </div>
        <div class="col Formulario-admin-contenido">
            <dt>
                @Html.DisplayNameFor(model => model.PRECIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PRECIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCUENTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCUENTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESTACADO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESTACADO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CATEGORIAS.NOMBRE_CATEGORIA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CATEGORIAS.NOMBRE_CATEGORIA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MARCAS.NOMBRE_MARCA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MARCAS.NOMBRE_MARCA)
            </dd>

        </div>
    </div>
    <div class="row form-body">
        <div class="col">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PRODUCTO }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>



