<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tienda Videojuegos</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <main class="container mw-100 p-0 m-0">
        <header>
            <nav id="Encabezado" class="navbar navbar-expand-lg Encabezado">
                <div class="container-fluid">
                    @Html.ActionLink("Tienda", "Index", "Home", new { @id = "logo" })
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a>@Html.ActionLink("Videojuegos", "Videojuegos", "Home")</a>
                            </li>
                            <li class="nav-item">
                                <a>@Html.ActionLink("Consolas", "Consolas", "Home")</a>
                            </li>
                            <li class="nav-item">
                                <a>@Html.ActionLink("Accesorios", "Accesorios", "Home")</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mb-2 mb-lg-0">


                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Cerrar Sesion", "Logout", "Home")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Inicio Sesion", "InicioSesion", "Home")</li>
                                <li>@Html.ActionLink("Registro", "Registro", "Home")</li>

                            }


                        </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section class="Contenido row d-flex justify-content-around p-0 m-0">
                @RenderBody()
            </section>

        </main>
        <footer class="pie-pagina">
            <div class="container pie-pagina-encabezado">
                <div class="row ">
                    <div class="col-6">
                        <h4 class="footer-heading">Proyecto</h4>
                        <p>
                            Tienda en linea de video juegos, video consolas y accesorios. Basado en .Net Framework, C#.
                            Basado en el model mvc
                        </p>
                    </div>
                    <div class="col-6">
                        <h4 class="footer-heading">Desarrollado por:</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="mailto:dvalle20343@ufide.ac.cr">Diego Valle Valle</a>
                                - <a href="mailto:kquesada80309@ufide.ac.cr">Kaled Quesada Linares</a>
                            </li>
                            <li>
                                <a href="mailto:esolis20542@ufide.ac.cr">Erick Solis Maltes</a> - <a href="mailto:jvalerin00631@ufide.ac.cr">Jose Valerin Perez</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-100 mt-5 border-top py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <p class="copyright">
                                Copyright ©
                                <script>document.write(new Date().getFullYear());</script> Derechos reservados
                            </p>
                        </div>
                        <div class="col-4 text-md-right">
                            <p>
                                Univerisad Fidelitas | Programacion Avanzada
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                crossorigin="anonymous"></script>
    </body>
</html>
